/* Aligns the text of the menu to the right */
#menu {
  text-align: right;
  width: 100%; /* Ensures the menu uses the full width of its container */
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* Styles for the unordered list */
#menu ul {
  list-style-type: none; /* Removes the default bullets */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

/* Styles for each menu item */
#menu li {
  display: block; /* Keeps the menu items vertical */
  margin-bottom: 0px; /* Adjusts spacing between menu items */
}

/* Styles for the menu links */
#menu a {
  text-decoration: underline; /* Optional: Removes the underline from links */
  color: blue; /* Optional: Set your desired link color */
  display: block; /* Ensures the link uses the full width of the li, for better clickability */
}
